@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: url("../public/gradient.jpg");
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #00000073;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 1px !important;
}

a{
  text-decoration: none;
}

a, p, span{
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Eczar', serif;
}

.icon{
  border: 2px solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 5px;
  cursor: pointer;
}

.eye-icon{
  position: absolute;
  cursor: pointer;
  top: 30%;
  z-index: 1;
  right: 11px;
}

.arrow{
  transition: transform 2s;
}

.arrow:hover{
  transform: translateX(-5px);
}

/* register and login */
.container {
  display: flex;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 12px;
  margin: 15px auto;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75vh;
  width: 90%;
}

.titleDiv{
  flex-basis: 100%;
  text-align: center;
}

.title {
  letter-spacing: 5px;
  font-family: 'Eczar', serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  position: relative;
}

.inp{
  margin: 0.4rem 0;
  text-align: center;
  position: relative;
}

.inp > input{
  border-radius: 20px;
  box-shadow: 0px 5px 0px #888888;
  border: 2px solid #888888;
  height: 2rem;
  padding: 10px;
}

.inp > input[type=text], .inp > input[type=email], .inp > input[type=password]
{
  letter-spacing: 1.5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.inp > input:focus{
  box-shadow: 0px 5px 0px blue;
  border: 2px solid blue;
  outline: none;
}

.text{
  text-align: center;
  color: #9e9aa7;
  font-size: 15px;
}

.captcha > input{
  border-radius: 20px;
  box-shadow: 0px 5px 0px #888888;
  border: 2px solid #888888;
  height: 1rem;
  padding: 5px 10px;
  width: 50%;
}

.btngrp{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem 0;
}

.btn{
  border-radius: 10px;
  cursor: pointer;
  padding: 0.6rem;
  font-size: 1rem;
  letter-spacing: 2px;
  background-color: rgba(31, 38, 135, 0.37);
  outline: 5px blue;
  border: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  transition: transform 0.5s;
}

.btn:hover{
  transform: translateY(5px);
}

.content{
  flex-basis: 100%;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

/* Landing page */
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  flex-basis: calc(50% - 10px);
  font-family: 'Eczar', serif;
}

.login-title{
  justify-content: flex-start;
  gap: 30px;
  margin: 10px 15px;
}

.brand-title > h1{
  letter-spacing: 2px;
}

.logo{
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.dp{
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 255, 0.7);
  width: 12%;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(50% + 10px);
  margin: 10px 15px;
  gap: 25px;
}

.nav-btn{
  transition: none;
  font-weight: 600;
  font-size: 1.15rem;
}

.btns a:nth-child(1) > button
{
  color: #9e9aa7;
  background: none;
  transition: 0.4s;
}

.btns a:nth-child(1) > button:hover
{
  color: blue;
}

.btns a:nth-child(2) > button
{
  color: white;
  background: rgba(31, 38, 135, 0.37);
  box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.7);
  transition: 0.4s;
}

.btns a:nth-child(2)> button:hover
{
  background-color: rgba(31, 38, 135, 0.6);
}

.nav-btn:hover{
  transform: none;
}

/* landing */
.landing{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 20px;
  padding: 20px;
}

.landing-text{
  text-align: left;
  flex: 1;
}

.landing-text > h1 {
  width: 100%;
  font-size: 4rem;
  line-height: 6rem;
}

.landing-text > p {
  color: rgb(158, 154, 167);
  width: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
}

.start-btn{
  background-color: rgba(0, 0, 255, 0.7);
  margin: 10px 0;
  font-size: 1.4rem;
  padding: 12px;
  color: white;
  font-family: 'Work Sans', sans-serif;
  transition: 0.5s;
}


.start-btn:hover{
  background-color: cyan;
  color: black;
  transform: none;
}

.landing-image{
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
}

.landing-img{
  border-radius: 25px;
  max-width: 90%;
  height: auto;
}

/* footer */
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #212529;
  box-shadow: 0px -20px 30px rgba(0, 0, 0, 0.4);
  height: 25vh;
}

.footer-title > a, .link-1 > span, .link-2 > span{
  color: #9e9aa7;
  font-weight: 500;
}

.link-div{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 0 0 auto;
  flex-basis: calc(50% - 10px);
}

.link-1, .link-2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links > a{
  color: #888888;
}

.links > a:hover{
  color: cyan;
}

/* side Navbar */
.sideNav{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20vw;
  min-height: 100vh;
  gap: 5vh;
  padding: 0 15px;
  background-color: #212529;
  transition: width 1s;
}

.close{
  width: 5vw;
}

.side-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.side-header > div {
  flex-basis: 50%;
}

.side-logo{
  width: 100%;
  height: auto;
}

.side-title{
  color: #9e9aa7;
}

.sideLinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex: 0 0 auto;
  gap: 5vh;
  width: -webkit-fill-available;
  
}

.opt-1{
  display: flex;
  align-items: center;
  gap: 3vw;
  flex: 0 0 auto;
  max-width: -webkit-fill-available;
  border-bottom: 2px solid transparent;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

.sideLinks > div:hover{
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  /* border-bottom-color: rgba(255, 255, 255, 0.8); */
}

.opt-1>div:nth-child(1){
  width: fit-content;
}

.opt-1 > div:nth-child(2)
{
  flex-basis: 80%;
  font-size: 1.5rem;
  text-align: left;
}
.create{
  display: flex;
  flex-direction: column;
}

.left-create{
  display: flex;
}

.right-create{
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

/* create form */
.addform-container{
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  
}

.addform-title{
  text-align: center;
}


.addform-1{
  display: flex;
  flex-direction: column;
  margin: 2vh 1vw;
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
  border-radius: 10px;
}

.ques{
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.option{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 15vw;
  height: 15vh; */
  padding: 2rem;
  gap: 5px;
  border: 2px solid;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
}

.select{
  border: 2px solid transparent;
  font-size: 1.5rem;
  background-color: transparent;
  outline: none;
  direction: ltr;
  transition: 0.5s;
}

.select:hover{
  cursor: pointer;
  border-bottom: 2px solid #212529;
}

.select > option{
  border: none;
  background-color: #212529;
  color: white;
  cursor: pointer;
}

.option > label, .select > option {
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
}

.option > input[type="radio"]{
  position: absolute;
  width: -webkit-fill-available;
  visibility: hidden;
}

.textarea{
  border-radius: 20px;
  box-shadow: 0px 5px 0px #888888;
  border: 2px solid #888888;
  padding: 10px;
  letter-spacing: 1.5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.textarea:focus{
  box-shadow: 0px 5px 0px blue;
  border: 2px solid blue;
  outline: none;
}

.active{
  border-color: rgba(0, 0, 255, 0.7);
  background-color: rgba(31, 38, 135, 0.6);
  color: white;
}

.form-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.one{
  position: absolute;
  left: 0;
  width: 20%;
} 
.two{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(31, 38, 135, 0.6);
}

.not-found-content {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.not-found-content > h1{
  color: red;
}